// Created with Visual MASM

#include "\masm32\include\resource.h"
1  24  DISCARDABLE	"C:\\Program Files (x86)\\Visual MASM\\Projects\\asm-final-project\\src\\Manifest.xml"

#define Button1 1000
#define ScrollBar1 1001
#define Button2 1002
#define Button3 1003
#define Label1 1004
#define Label2 1005

DesignForm DIALOGEX 0, 0, 312, 151
STYLE  WS_CAPTION | WS_SIZEBOX | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP
CAPTION "DesignForm"
CLASS "DLGCLASS"
FONT 12, "Consolas"
{
   PUSHBUTTON "Button1", Button1, 117, 27, 33, 11, BS_PUSHBUTTON | BS_CENTER 
   SCROLLBAR ScrollBar1, 0, 329, 33, 11
   PUSHBUTTON "Button2", Button2, 149, 37, 33, 11, BS_PUSHBUTTON | BS_CENTER 
   PUSHBUTTON "Button3", Button3, 217, 20, 33, 11, BS_PUSHBUTTON | BS_CENTER 
   LTEXT "Label1", Label1, 43, 24, 24, 8
   LTEXT "Label2", Label2, 64, 101, 24, 8
}
